<% title "策略" %>

<div class="card bg-base-100 shadow">
  <div class="card-body p-0">
    <div class="flex items-center gap-3 px-5 pt-5">
      <span class="icon-[charm--chart-line] size-4.5"></span>
      <span class="font-medium">策略列表</span>
      <%= link_to new_stock_strategy_path, class: "btn btn-outline border-base-300 btn-sm ms-auto" do %>
        <span class="icon-[charm--plus] size-3.5"></span>
        添加
      <% end %>
    </div>
  </div>

  <div class="mt-2 overflow-auto">
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
        <tr>
          <th></th>
          <th>名称</th>
          <th>代码</th>
          <th>类型</th>
          <th>最新价格</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <%= turbo_stream_from "stock_strategies_index" %>
        <% @stock_strategies.each do |stock_strategy| %>
          <tr id="<%= dom_id(stock_strategy) %>">
            <th><%= stock_strategy.id %></th>
            <td><%= link_to stock_strategy.name, stock_strategy_path(stock_strategy) %></td>
            <td><%= stock_strategy.stock_symbol %></td>
            <td><%= stock_strategy.security_type %></td>
            <td><%= stock_strategy.latest_price %></td>
            <td>
              <%= link_to "查看", stock_strategy, class: "link link-accent" %>
              <%= link_to "编辑", edit_stock_strategy_path(stock_strategy), class: "link link-primary" %>
              <%= link_to "删除", stock_strategy_path(stock_strategy),
                          data: { turbo_confirm: "确定要删除吗？", turbo_method: :delete }, class: "link link-secondary" %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

